@model OrderView;
@using System.Globalization;
<div class="div-basket">
    <h2 class="text-center">Корзина</h2>
    <hr>
    @if (Model != null)
    {
        @if (Model.Amount != 0)
        {
            <h4>Количество: <span id="Amount">@Html.DisplayFor(model => model.Amount)</span></h4>
            <h4>Вес: <span id="Weight">@Html.DisplayFor(model => model.Weight)</span></h4>
            <h4>Сумма заказа: <span id="SumOrder">@Html.DisplayFor(model => model.SumOrder)</span> руб.</h4>
            <p class="text-muted">Сумма заказа не включает в себя стоимость доставки.</p>
            <p class="text-monospace">
                @{string date = Model.DateDelivery.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU"));}
                Товар прибудет в город @Html.DisplayFor(model => model.City) не позднее @date

                Стоимость доставки @Html.DisplayFor(model => model.SumDelivery) рублей.
            </p>
            <button class="btn btn-light" onclick="SureDeleteAll(@Model.Id);">Очистить корзину</button>
            <table class="table table-basket">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Книга</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookOrderView i in Model.BookOrders)
                    {
                        <tr scope="row">
                            <td>
                                <a class="h4" asp-action="Book" asp-controller="Admin" asp-route-id="@i.Book.Id"> @i.Book.Title</a> <br />
                                @foreach (string c in i.Book.Authors)
                                {
                                    <a class="text-muted">
                                        @c;
                                    </a>
                                }
                            </td>
                            <td>@i.Book.Cost</td>
                            <td>
                                <p id=@i.Id>
                                    @i.Amount
                                </p>
                            </td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <button class="btn btn-secondary" onclick="Increase(@i.Id);">+</button>
                                    <button class="btn btn-secondary" onclick="Decrease(@i.Id);">-</button>
                                    <button class="btn btn-secondary" onclick="DeleteItem(@i.Id);">Удалить</button>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <div class="justify-content-center buy-btn">
                <button class="btn" onclick="OrderBooks(@Model.Id);">Заказать</button>
            </div>
        }
        else
        {
            <div class="empty-basket-div">
                <h4 class="empty-basket">Корзина пуста!</h4>
            </div>

        }
    }
</div>