@model OrderView;
<div>
    <h2>Корзина</h2>
    @if (Model != null)
    {
        @if (Model.Amount != 0)
        {
            <h4>Количество: <span id ="Amount">@Html.DisplayFor(model => model.Amount)</span></h4>
            <h4>Сумма заказа: <span id="SumOrder">@Html.DisplayFor(model => model.SumOrder)</span></h4>
            <p>Сумма заказа не включает в себя стоимость доставки.</p>
            <p>
                Доставка в город @Html.DisplayFor(model => model.City) прибудет ориентировочно @Html.DisplayFor(model => model.DateDelivery).
                Стоимость доставки @Html.DisplayFor(model => model.SumDelivery) рублей.
            </p>
            <button class="btn btn-light" onclick="deleteAll(@Model.Id);">Очистить корзину</button>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Книга</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (BookOrderView i in Model.BookOrders)
                    {
                        <tr>
                            <td>
                                <a> @i.Book.Title</a> <br />
                                @foreach (string c in i.Book.Authors)
                                {
                                    <a>
                                        @c;
                                    </a>
                                }
                            </td>
                            <td>@i.Book.Cost</td>
                            <td><p id=@i.Id>
                            @i.Amount
                                </p>
                            </td>
                            <td>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <button class="btn btn-secondary" onclick="Increase(@i.Id);">+</button>
                                    <button class="btn btn-secondary" onclick="Decrease(@i.Id);">-</button>
                                    <button class="btn btn-secondary" onclick="DeleteItem(@i.Id);">Удалить</button>
                                </div>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
            <button class="btn btn-success" onclick="OrderBooks(@Model.Id);">Заказать</button>
        }
        else
        {
            <h4>Корзина пуста!</h4>
        }
    }
</div>