@model OrderView;
@using System.Globalization;
@if (Model != null)
{
    <div>
        <!--   Svg иконка для закрытия окна  -->

        <p class="h3">Детали заказа</p>
        <br />
        <div class="row">
            <div class="col-md-9 text-left">
                <p> <b>Количество книг в заказе:</b> @Model.Amount</p>
                <p>
                    <b> Доставка в город: </b>  @Model.City
                </p>
                @{string date = Model.DateDelivery.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU"));}
                <p><b>Дата доставки:</b>  @date </p>
                @{date = Model.DateOrder.ToString("D", CultureInfo.CreateSpecificCulture("ru-RU"));}
                <p><b>Дата заказа:</b>   @date </p>
                <p>
                    <b>Стоимость доставки:</b> @Model.SumDelivery руб.
                </p>
                <p>
                    <b>Стоимость заказа (без доставки): </b> @Model.SumOrder руб.
                </p>
            </div>
            <div class="col-md-3" id="status-msg">
                @if (Model.Active == 0)
                {

                    <button class="btn btn-danger" onclick="CancelOrder(@Model.Id);">Отменить заказ</button>

                } else if (Model.Active == 4)
                {
                    <p class="text-danger">Отменен </p>
                }
            </div>
        </div>



        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Книга</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                </tr>
            </thead>
            <tbody>
                @foreach (BookOrderView i in Model.BookOrders)
                {
                    <tr>
                        <td>
                            <a asp-action="Book" asp-controller="Admin" asp-route-id="@i.Book.Id"> @i.Book.Title</a> <br />
                            @foreach (string c in i.Book.Authors)
                            {
                                <a>
                                    @c;
                                </a>
                            }
                        </td>
                        <td>@i.Book.Cost</td>
                        <td>
                            <p>
                                @i.Amount
                            </p>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

        <br>
    </div>
}