@model diploma.Models.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <div class="col-md-8 order-md-1 center-block">
        <h4 class="mb-3"> Регистрация </h4>
        <div class="mb-3">
            <p class="text-info">
                Обратите внимание, что Пароль должен состоять из латинских букв, цифр, как минимум одной заглавной и одной строчной буквы и одного служебного символа.
                <br /> Поле UserName может содержать только идущие подряд латинские буквы и цифры.
            </p>
        </div>

        @*@{Html.RenderPartial("Partial");}action="javascript:void(0);"*@  @**@
        <form class="needs-validation" id="regForm" novalidate method="post" asp-controller="Account" asp-action="Register">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="mb-3">
                @Html.LabelFor(model => model.Fio)
                @Html.EditorFor(model => model.Fio, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                <span asp-validation-for="Fio" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Email)
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.PhoneNumber)
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">+7</span>
                    </div>
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                    
                </div><span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.IdCity)
                <select class="custom-select" id="citySelect" asp-for="IdCity" name="IdCity">
                    @foreach (City s in ViewBag.Cities)
                    {
                        <option value="@s.Id">@s.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Address)
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.Password)
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                @Html.LabelFor(model => model.PasswordConfirm)
                @Html.EditorFor(model => model.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <br />
            <input class="btn btn-primary btn-lg btn-block" type="submit" onsubmit="return validateForm()" value="Регистрация">
          @*  <button class="btn btn-primary btn-lg btn-block" id="registerBtn" type="submit" onsubmit="return validateForm()">Регистрация</button>*@
        </form>
    </div>
    <div class="col-md-4 order-md-2 mb-4">
        <img class="img-register" src="~/images/register.jpg">
    </div>
</div>
@*<environment include="Development">
        <script src="~/js/Validation.js" asp-append-version="true"></script>
        <script src="~/js/Account.js" asp-append-version="true"></script>
    </environment>*@
