@model BookDetails;
<div class="js__comments_all comments">
    <h2 class="text-center">Комментарии</h2>
    @if (!Model.Comments.Any())
    {
        <h4 class="text-center text-muted">Оставьте комментарий первым!</h4>
    }
    @foreach (Comment c in Model.Comments)
    {
        <div>
            <div class="username">
                @c.UserName
            </div>
            <div class="comment">
                @c.Content
            </div>
        </div>
    }

    <form class="needs-validation comment-form" id="commentForm" action="javascript:void(0);" novalidate>
        <input hidden name="IdBook" value="@Model.Book.Id">
        @{string name;
            if (ViewBag.Username == "Войти") { name = "Гость"; } else
            {
                name = ViewBag.Username;
            }
        }
        <input class="form-control" name="UserName" value="@name" readonly />
        <textarea type="text" name="Content" autocomplete="off" id="content" class="form-control" placeholder="Добавить комментарий" required></textarea>
        <input class="btn btn-outline-dark btn-light btn-search" type="submit" onclick="Sent(@Model.Book.Id);" value="Отправить" />
    </form>
</div>
<environment include="Development">
    <script src="~/js/Comments.js" asp-append-version="true"></script>
</environment>