@{
    ViewData["Title"] = "Главная";
}
@model BookListViewModel;


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="Доставка и оплата" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Закажите книги с доставкой на дом.
                    <a class="btn btn-default text-white" asp-area="" asp-controller="Home" asp-action="PriceAndDelivery">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="Наши магазины" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Читайте любимые книги с нами!
                    <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Shops">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="Акции и специальные предложения" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Специально для Вас мы организуем акции и прочие мероприятия.
                    <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Discounts">
                        Узнать больше
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Назад</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Вперед</span>
    </a>
</div>



<div class="row basket-div center-block" id="partialViewDiv">
    <div class="col-md-9 active-cyan-3 search-div">
        <form method="post" asp-controller="Home" asp-action="Search">
            <div class="row">
                <input name="searchString" class="form-control search-input" value="@Model.searchString" autocomplete="off" type="text" id="search" placeholder="Поиск..." aria-label="Search">
            </div>
            <div class="row space">
                <div class="col-md-3">
                    <select class="custom-select" id="Order" name="sortOrder">

                        @if (Model.sortOrder == "" || Model.sortOrder == "new_first")
                        {
                            <option value="new_first" selected>Сначала новые</option> }
                        else
                        {
                            <option value="new_first">Сначала новые</option>}
                        @if (Model.sortOrder == "name_desc")
                        {
                            <option value="name_desc"  selected>По названию (По убыванию)</option> }
                        else
                        {
                            <option value="name_desc">По названию (По убыванию)</option>}


                        @if (Model.sortOrder == "name")
                        {
                            <option value="name" selected>По названию (По возрастанию)</option> }
                        else
                        {
                            <option value="name">По названию (По возрастанию)</option>}

                        @if (Model.sortOrder == "cost_desc")
                        {
                            <option value="cost_desc" selected>По цене (По убыванию)</option>}
                        else
                        {
                            <option value="cost_desc">По цене (По убыванию)</option>}
                        @if (Model.sortOrder == "cost")
                        {
                            <option value="cost" selected>По цене (По возрастанию)</option> }
                        else
                        {
                            <option value="cost">По цене (По возрастанию)</option>}

                        @if (Model.sortOrder == "Date")
                        {
                            <option value="Date" selected>По дате выпуска (По возрастанию)</option> }
                        else
                        {
                            <option value="Date">По дате выпуска (По возрастанию)</option>}

                        @if (Model.sortOrder == "date_desc")
                        {
                            <option value="date_desc" selected>По дате выпуска (По убыванию)</option>}
                        else
                        {
                            <option value="date_desc">По дате выпуска (По убыванию)</option>}

                    </select>
                </div>
                <div class="col-md-3">
                    <select class="custom-select" id="Genre" name="Genre">
                        <option value="0">Все жанры</option>
                        @foreach (GenreModel g in ViewBag.Genres)
                        {
                            if (Model.Genre != g.Id)
                            {
                                <option value="@g.Id">@g.Name</option>
                            }
                            else
                            {
                                <option value="@g.Id" selected>@g.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group form-check col-md-3">
                    @if (Model.Stored)
                  {
                  <input type = "checkbox" class="form-check-input" id="Stored" name="Stored" value="true"  checked>
                  } else {
                    <input type="checkbox" class="form-check-input" id="Stored" name="StoredBox"  value="true">
                     } 
                    <label class="stored-label" for="Stored" >В наличии</label>
                </div>
                <div class="col-md-3">
                    <input class="btn btn-info btn-search" type="submit" value="Поиск">
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3 basket js___basket">
        @{Html.RenderPartial("_BasketDiv", Model);}
    </div>
</div>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4 ">
            <div id="adminDiv" class="text-right">
                @if (ViewBag.Role == "admin")
                {
                    var parms = new Dictionary<string, string>
                             {
                                    { "page", "1" },
                                    { "status", "1" },
                                     { "period", "" },
                                      { "sort", "" },
                                       { "search", "" }
                             };
                    <a class="btn btn-dark" asp-area="" asp-controller="Admin" asp-action="UploadPicture">Добавить</a>
                    <a class="btn btn-dark" asp-area="" asp-controller="Admin" asp-action="OrderList" asp-all-route-data="parms">Cписок заказов</a>
                    <a class="btn btn-dark" asp-area="" asp-controller="Admin" asp-action="Cities">Cписок городов</a>
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="js__bookList">
        @{Html.RenderPartial("_BookList", Model);}
    </div>
    @if (ViewBag.pageNumber != null)
    {
    <div class="hidden">
        <p id="page">@Model.page</p>
        <p id="searchStringHidden">@Model.searchString</p>
        <p id="sortOrderHidden">@Model.sortOrder</p>
        <p id="storedHidden">@Model.Stored</p>
        <p id="genreHidden">@Model.Genre</p>
        <p id="authorHidden">@Model.AuthorSearch</p>
    </div>
    }
